<h3>Select what the customer is buying.</h3>
<% if @products.any? %>
<form action="/purchases" method="post">
  <% @products.each() do |product| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="product_ids[]" value="<%=product.id() %>"> <%=product.name() %> $<%=product.price() %>
    </label>
  </div>
  <% end %>

    <button type="submit">Add Products</button>
</form>
<% end %>
