<form action="/cashier" method="post">
  <label for="product_id">Select what the customer is buying.</label>
  <select id="product_id" name="product_id" type="text">
    <% @products.each() do |product|

<input type="checkbox" >
